body {
    text-align: center;
    background-color: gray;
}

@media (min-width: 70em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

.right_box {
-webkit-box-shadow: -3px 0px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 0px 3px 0px rgba(0,0,0,0.75);
box-shadow: -3px 0px 3px 0px rgba(0,0,0,0.75);
}


.thumbnail img{
  width:30px;
  height:30px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.logo {
  display:inline-block;
  padding:10px 20px 10px 30px;
  vertical-align:middle;
  margin-top:-30px
}

.logo img {
  width:70px;
}

.headerText {
  display:inline-block;
  line-height:200%;
  margin-top:0px
}

ul.no-bullets {
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  list-style-image: url('../img/profit.svg');
}
